.own-message {
  width: 60%;
  display: grid;
  grid-template-columns: 7.5fr 0.5fr 0.45fr;
  grid-template-rows: auto;
  grid-template-areas: 'text text text'
                       'time edit trash';
  justify-items: start;
  justify-self: end;
  align-items: center;
  column-gap: 1rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background: rgba(99, 89, 238, 0.233);
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: right;
  animation-name: showIn;
  animation-duration: 0.2s; /* or: Xms */
  animation-iteration-count: 1;
  animation-direction: normal; /* or: normal */
  animation-timing-function: cubic-bezier(
    0.88,
    0.19,
    0.37,
    1.11
  ); /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: both; /* or: backwards, both, none */
  animation-delay: 0.2s; /* or: Xms */
}
@keyframes showIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.message-edit:hover, .message-delete:hover {
  cursor: pointer;
}

.message-edit {
  grid-area: edit;
}

.message-delete{
  grid-area: trash;
}

.message-edit, .message-delete {
  color: #25222cbb;
}

@media only screen and (max-width: 550px) {
  .own-message {
    width: 95%;
  }
}