.chat {
  height: 100vh;
  width: 100vw;
  background-image: url('../../images/logo.png');
  background-size: 13vw 10vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.wrapper {
  height: 80%;
  width: 80%;
  margin-left: 8vw;
  background-color: #e9e6f7a2;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #986cff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #963bfe;
}

@media only screen and (max-width: 550px) {
  .chat {
    height: 100vh;
    width: 100vw;
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  
  .wrapper {
    height: 90%;
    width: 90%;
    margin: 0;
  }
}