.message-list {
  height: 70%;
  width: calc(100% -  3rem);
  border-radius: 0.5rem;
  border: 0.25rem solid white;
  padding: 0.5rem 1rem;
  overflow: auto;
  font-family: cursive;
  font-size: 1rem;
  color: #25222cbb;
}

.message-list-items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.messages-divider {
  z-index: 1;
  position: relative;
  text-align: center;
}

.divider-line{
    border-top: solid 2px #dad2fa;;
    position: absolute;
    height: 1px;
    display: block;
    top: 1.5vh;
    width: 100%;
}

.date-label{
    background-color: #f1effa;
    z-index: 2;
    position: relative;
    text-align: center;
    padding: 0 0.5rem;
}
