.preloader {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  font-family: cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: black;
  font-size: 1.5rem;
}

.pencil {
  margin-left: 10vw;
  position: relative;
  width: 300px;
  height: 40px;
  transform-origin: center;
  transform: rotate(135deg);
  animation: pencil-animation 10s infinite;
}

@keyframes pencil-animation {
  0% {
    transform: rotate(135deg);
  }
  20% {
    transform: rotate(315deg);
  }
  45% {
    transform: translateX(300px) rotate(315deg);
  }
  55% {
    transform: translateX(300px) rotate(495deg);
  }
  100% {
    transform: rotate(495deg);
  }
}

.pencil__ball-point {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #09d56e;
  height: 10px;
  width: 10px;
  border-radius: 50px;
}

.pencil__cap {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  clip-path: polygon(20% 40%, 100% 0%, 100% 100%, 20% 60%);
  background: #232123;
  width: 12%;
  height: 100%;
}

.pencil__cap-base {
  position: absolute;
  left: 12%;
  top: 0;
  height: 100%;
  width: 20px;
  background: #232123;
}

.pencil__middle {
  position: absolute;
  left: calc(12% + 20px);
  top: 0;
  height: 100%;
  width: 70%;
  background: #09d56e;
}

.pencil__eraser {
  position: absolute;
  left: calc(12% + 70% + 20px);
  top: 0;
  height: 100%;
  width: 11%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #232123;
}

.line {
  margin-left: 10vw;
  position: relative;
  top: 80px;
  right: 103px;
  height: 10px;
  width: 1000px;
  z-index: -1;
  border-radius: 50px;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  transform: scaleX(0);
  transform-origin: center;
  animation: line-animation 10s infinite;
}

@keyframes line-animation {
  20% {
    transform: scaleX(0);
  }
  45% {
    transform: scaleX(0.6);
  }
  55% {
    transform: scaleX(0.6);
  }
  100% {
    transform: scaleX(0);
  }
}

h2 {
  margin-left: 10vw;
  position: relative;
  top: 150px;
  right: 75px;
  font-size: 2rem;
  word-wrap: break-word;
}

@media only screen and (max-width: 1050px) {
  .line {
    width: 750px;
  }
  @keyframes pencil-animation {
    0% {
      transform: rotate(135deg);
    }
    20% {
      transform: rotate(315deg);
    }
    45% {
      transform: translateX(220px) rotate(315deg);
    }
    55% {
      transform: translateX(220px) rotate(495deg);
    }
    100% {
      transform: rotate(495deg);
    }
  }
}

@media only screen and (max-width: 770px) {
  .line {
    width: 400px;
  }
  @keyframes pencil-animation {
    0% {
      transform: rotate(135deg);
    }
    20% {
      transform: rotate(315deg);
    }
    45% {
      transform: translateX(120px) rotate(315deg);
    }
    55% {
      transform: translateX(120px) rotate(495deg);
    }
    100% {
      transform: rotate(495deg);
    }
  }
}

@media only screen and (max-width: 600px) {
  .line {
    width: 400px;
    right: 0px;
  }

  .pencil {
    display: none;
  }

  h2 {
    position: relative;
    top: 150px;
    right: 0px;
    font-size: 2rem;
    word-wrap: break-word;
  }
}

@media only screen and (max-width: 400px) {
  .line {
    width: 200px;
  }
}