.header {
  height: calc(10% -  2rem);
  width: calc(100% -  3rem);
  border-radius: 0.5rem;
  border: 0.25rem solid white;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: 0.25fr 1fr 1.7fr 1.5fr 7fr;
  grid-template-areas: 'pen title users-count messages-count last-date';
  justify-items: start;
  align-items: center;
  font-family: cursive;
  font-size: 1rem;
  color: #25222cbb;
}

.header-last-message-date {
  justify-self: end;
}

.header-users-count::after {
  content: ' participants';
}

.header-messages-count::after {
  content: ' messages';
}

.header-last-message-date::before {
  content: 'last message at: ';
}

.fa-pen-nib {
  grid-area: pen;
}

.header-title {
  grid-area: title;
}

.header-users-count {
  grid-area: users-count;
}

.header-messages-count {
  grid-area: messages-count;
}

.header-last-message-date {
  grid-area: last-date;
}

@media only screen and (max-height: 650px) {
  .header {
    height: calc(15% -  2rem);
    padding: 0.1rem 1rem;
  }
}

@media only screen and (max-width: 1000px) {
  .header {
    grid-template-columns: 0.25fr 1fr 1.7fr 1.5fr 5.5fr;
  }
}

@media only screen and (max-width: 850px) {
  .header {
    grid-template-columns: 0.25fr 1fr 1.7fr 1.5fr 4.3fr;
  }
}

@media only screen and (max-width: 760px) {
  .header {
    height: calc(15% -  2rem);
    grid-template-columns: 0.25fr 1fr 1.7fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'pen title users-count messages-count'
                         'last-date last-date last-date last-date';
  }
  
  .header-last-message-date {
    justify-self: start;
  }
  
}

@media only screen and (max-width: 450px) {
  .header {
    font-size: 0.75rem;
  }
}